.sectionRegisterContainer {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	padding: 0 5%;
}

.sectionText,
.formTermContainer {
	color: var(--gray-text);
}

.formRegisterContainer {
	width: 100%;
	max-width: 400px;

	display: flex;
	flex-direction: column;
	gap: 10px;
}

.formRegisterInputContainer {
	display: flex;
	flex-direction: column;
}

.formRegisterInput {
	padding: 10px 20px;
	border-radius: 30px;
	border: solid 2px var(--gray-text);
}

.formRegisterInput::placeholder {
	color: var(--gray-text);
}

.formRegisterButton {
	padding: 10px;
	border-radius: 30px;
	border: solid 2px var(--primary-color);
	background-color: var(--primary-color);
	color: #fff;
}

.formRegisterCheckedContainer {
	text-align: center;
	margin: 10px 0;
	color: var(--gray-text);
}

.formTerms {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.textRegister {
	color: var(--primary-color);
	font-weight: 500;
}

.loaderContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
}
