.coverMediaContainer {
	width: 100%;
	height: 436px;

	background-color: var(--gray-container);
	z-index: 1;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.coverMediaImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
  pointer-events: none;
}

.coverMediaAudio{
  width: 95%;
  height: 50px;
  z-index: 2;
  margin-top: -70px;
}