:root {
	--primary-color: #ff3770;

	/* Info */
	--gray-text: #969696; /* letras letras en de gris*/

	--gray-container: #f8f8f8; /* fondo para contenedor en gris*/
	--gray-container-two: #e9e9e9; /* fondo para contenedor secundario en gris*/

	--btn-primary-color: var(--primary-color);
	--btn-secundary-color: #f8f8f8;
	--btn-tertiary-color: #fff;

	/* Tamaño de texto */
	--fs-s: 0.8rem;
	--fs-m: 1rem;
	--fs-l: 2.1rem;

	/* Familia tipografica */
	--family-botton: "Poppins", Helvetica, Arial;
	--family-title: "Poppins", Helvetica, Arial;
	--family-text: "Fira Sans", sans-serif;

	/* Grosor del texto */
	--fw-normal: default;
	--fw-medium: 600;
	--fw-bold: 800;

	/* Colores */
	--primary-color-1: #ff3770;
	--primary-color-2: #ff9c17;
	--secondary-color-1: #969696;
  --black-color: #000;
  --white-color: #fff;

	--btn-primary-color-1: var(--primary-color-1);
	--btn-primary-color-2: var(--primary-color-2);
	--btn-secundary-color: var(--secondary-color-1);
	--btn-category-color: linear-gradient(114.44deg, #5055ff 5.16%, #9747ff 92.96%);

	--text-color: #969696;
	--title-color: #363636;

	--section-title-color-1: var(--primary-color-1);
	--section-title-color-2: var(--primary-color-2);

	--label-color: var(--secondary-color-1);
	--label-active-color: var(--title-color);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Fira Sans", sans-serif;
}

a {
	text-decoration: none;
	color: #000;

	font-size: var(--primer-texto);
}

li {
	list-style: none;
}

body {
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif; */
	/* font-family: "Fira Sans", sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.leaflet-container {
	width: 100%;
	height: 100%;
}

/* documentacion */
/*
  Familias tipograficas:
    --family-botton:
    •Todo elemento textual que sea clicleable.
    --family-title:
    •Todo los titulos que tengan un grosor (800)
*/

/* button .cta-1 {
	font-family: var(--family-botton);
	background-color: var(--primary-color);
	font-size: var(--fs-m);
}

button .cta-2 {
	font-family: var(--family-botton);
	background-color: var(--primary-color-2);
	font-size: var(--fs-m);
} */



/* Home
  Titulos:

  1. Titulo de seccion: ('ultimo servicio posteado')
    family-title, fs-m, fw-medium, title-color

  2. Titulo del servicio dentro de la tarjeta:
    family-title, fs-s, fw-medium, black-color

  3. Titulo de la tarjeta de solicitud de servicio:
    family-title, fs-l, fw-bold, white-color

  Textos:

  1. Texto Header Card (Direccion o fecha):
    fs-m, family-text, fw-medium, text-color

  2. Texto de no encontraste lo que buscabas:
    fs-s, family-text, fw-normal, text-color
  
  3. Nombre del usuario
    fs-m, family-text, fs-normal, text-color

  Botones:

  1. 

*/