.formVerificationContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.sectionInfoContainer {
	width: 100%;
	height: 100%;
	max-width: 400px;

	display: flex;
	flex-direction: column;

	text-align: center;
	gap: 20px;
	margin: 20px auto;
	padding: 0 20px;
}

.sectionText {
	color: var(--gray-text);
}

.formLoginContainer {
	width: 100%;
	max-width: 400px;

	display: flex;
	flex-direction: column;
	gap: 10px;
}

.formLoginInput {
	width: 100%;
	padding: 10px 20px;
	border-radius: 30px;
	border: solid 2px var(--gray-text);
}

.formLoginInput::placeholder {
	color: var(--gray-text);
}

.formLoginButton {
	padding: 10px;
	border-radius: 30px;
	border: solid 2px var(--primary-color);
	background-color: var(--primary-color);
	color: #fff;
	cursor: pointer;
}
