.headerApp {
	width: 100%;
	height: 70px;

	display: flex;
	justify-content: center;
	align-items: center;

	position: sticky;
	top: 0;

	padding: 0 8%;

	background-color: #fff;
	z-index: 5;
}

.imgLogo {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.imgLogoItem {
	width: 180px;
}

@media (min-width: 425px) {
	.imgLogo {
		width: 200px;
	}
}
