.menuButtonDeleteContainer {
	width: 100%;
	background-color: #fff;
	padding: 10px 0;

	display: flex;
	justify-content: center;
}

.menuButtonDelete {
	padding: 10px 30px;
	background-color: transparent;
	border: none;
	color: var(--gray-text);
}
